* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageWrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 0 1%;
}

.imageWrapper div {
    float: left;
    width: 32%;
    aspect-ratio: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imageWrapper div:first-of-type {
    background-image: url("https://images.unsplash.com/photo-1531846802986-4942a5c3dd08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2l0aWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(2){
    background-image: url("https://images.unsplash.com/photo-1525095240410-9645dea911e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0aWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(3){
    background-image: url("https://images.unsplash.com/photo-1618503551238-7df2c50d2236?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2l0aWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(4){
    background-image: url("https://images.unsplash.com/photo-1516844113229-18646a422956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2l0aWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(5){
    background-image: url("https://images.unsplash.com/photo-1612698093158-e07ac200d44e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(6){
    background-image: url("https://images.unsplash.com/photo-1582076197789-5c2af0bb51fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(7){
    background-image: url("https://images.unsplash.com/photo-1619090125361-879aba634f8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(8){
    background-image: url("https://images.unsplash.com/photo-1588733103629-b77afe0425ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(9){
    background-image: url("https://images.unsplash.com/photo-1437934474317-887ccf040d8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(10){
    background-image: url("https://images.unsplash.com/photo-1605908446746-e67020f19097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(11){
    background-image: url("https://images.unsplash.com/photo-1517570123306-d58896657b2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.imageWrapper div:nth-of-type(12){
    background-image: url("https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGNpdGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}